body {
  background-color: #3D3A3A;
  margin: 0;
}

.header {
  margin: 0px 40px;
}

.nav-header {
  background-color: #b9b9b9;
  border-radius: 10px;
  display: flex;
  align-items: center;  
  padding: 12px 20px;
  gap: 20px;              
}

.logo {
  font-family: sans-serif;
  font-size: 50px;
  margin: 0;              
  animation: rgb-cambiante 5s infinite;
}

@keyframes rgb-cambiante {
  0% { color: rgb(255, 0, 0); }    /* Rojo */
  33% { color: rgb(0, 255, 0); }   /* Verde */
  66% { color: rgb(0, 0, 255); }   /* Azul */
  100% { color: rgb(255, 0, 0); }  /* Rojo */
}

.nav {
  margin-left: auto;    
  display: flex;
  align-items: center;
  gap: 24px;          
}

.nav-link {
  color: #3D3A3A;
  text-decoration: none;
  font-size: 30px;
  margin: 0;            
  padding: 8px 50px;
}

.nav-link:hover {
  text-decoration: underline;
}